
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    }
    
    body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
    }
    
    /**********Nav section**********/
    nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    
    }
    #orderForm{
        padding-top:10%;
    }
    
    
    nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
    }
    
    nav.black ul {
    background: #000;
    }
    
    nav ul li {
    display: inline-block;
    }
    
    nav ul li a {
    text-decoration: none;
    color: wheat;
    margin: 20px;
    font-size: 30px;
    font-family: 'Trade Winds', serif;
    text-shadow: 3px 3px 3px red;
    }
    
    /**********logo*********/
    
    
    /*********** Header Section **********/
    header {
    width: 100%;
    height: 100vh;
    background: url(../images/background.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    }
    
    #text1{
    font-size: 57px;
    color:#fff;
    text-align: center;
    padding-top: 16%;
    font-family: 'Trade Winds',serif ;
    text-shadow: 3px 3px 3px red;
    }
   
    

    .page-footer font-small special-color-dark pt-4{
        background: black;
    }

    .bg-custom{
        background-image: linear-gradient(black,red);
        border-top-left-radius: 30% 30%;
        border-top-right-radius: 30% 30%;
        }
        .bg-bottom{
        background-color: #0097e6;
        }
        .pt-30{
        padding-top: 30px;
        }
        ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        }
        h3,p,a{
        color: #fff;
        }
        h2{
        font-weight:700;
        font-size:30px;
        letter-spacing: 2px;
        }
        h3{
        font-weight:700;
        font-size: 26px;
        letter-spacing: 2px;
        }
        li{
        padding-top: 10px;
        }
        a{
        text-decoration: none;
        }
        a:hover{
        text-decoration: none;
        color:#ddd;
        }
        .pt-4{
            font-size:100%;font-size: 100%;
            letter-spacing: 2px;
            line-height: 200%;text-align:center;font-size:100%;
        }
        .fa{
        font-size: 40px;
        padding-right: 15px;
        }
        .download{
        text-align: center; 
        padding-top: 20px;
        }.download .fa{
        padding-right: 25px;
        font-size: 50px;
        }
        @media(max-width: 992px){
        h3{
        font-size: 18px;
        }
        .p-5 {
        padding: 2rem!important;
        }
        }
        @media(max-width: 830px){
        .pt-60{
        padding-top: 60px;
        }
        .col-md-3{
        padding-right:6px;
        padding-left: 6px;
        margin: 0;
        }
        h3 {
        font-size: 16px;
        }
        }
        @media(max-width: 768px){
        .col-md-3{
        text-align:center;
        }
        h3{
        font-size: 40px;
        }
        .input-group {
        margin-top:  1rem!important;
        }
        .pt-60{
        padding-top: 30px;
        }
        }
        @media(max-width: 475px){
        h3{
        font-size: 30px;
        padding-top: 30px;
        }
        .mobile-none{
        display:none;
        }
        }